# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# AWS / local creds
.aws/
credentials

# IDE
.vscode/
.idea/

# OS
.DS_Store
